@{
    ViewBag.Title = "Wei with you";
    ViewBag.IsFluid = true;
}
<div id="weiwaytop">
    <img src="@Url.Content("~/Images/weiwaytop.jpg")" alt="" />
    <div class="top-message">
        <h1>さあ、はじめよう。</h1>
        <h2>人種、性別、年齢の垣根を越えた究極のコミュニケーション</h2>
        @using (Html.BeginForm("ExternalLogin", "Account", FormMethod.Post, new { @class=""}))
        {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-info btn-lg" id="Twitter" name="provider" value="Twitter" title="Log in using your twitter account">Login with Twitter</button>
        }
    </div>
</div>


<div class="jumbotron">
    <h1>Wei Way</h1>
    <p class="lead">「うぇーい」と「ワンチャン」のみでかわすことでうまれる究極の無礼講飲みにケーション。</p>
    <p><a href="http://www.slideshare.net/yiwate/wei-way" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>